# Skopiuj ten plik jako ".env" na serwerze i uzupełnij prawdziwymi wartościami.
# PLIK .env NIGDY nie powinien trafić do repozytorium Git (dodaj go do .gitignore).

POSTGRES_DB=financetracker
POSTGRES_USER=financetracker_user
POSTGRES_PASSWORD=ZMIEN_MNIE_NA_SILNE_HASLO

# validate = bezpieczne dla produkcji (Hibernate nie modyfikuje schematu automatycznie)
# update   = wygodne przy pierwszym wdrożeniu / braku Flyway/Liquibase, ale ryzykowne później
JPA_DDL_AUTO=validate


# Dla dev!
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/financetracker
SPRING_DATASOURCE_USERNAME=financetracker_user
SPRING_DATASOURCE_PASSWORD=xxxxx11111